# Simoid

In [62]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import subprocess
from sklearn.datasets import load_svmlight_file

In [68]:
filename = 'gisette_scale'

In [64]:
train_X, train_target = load_svmlight_file('datasets/' + filename)

In [65]:
train_X.shape

(6000, 5000)

In [66]:
train = pd.DataFrame(train_X.toarray())
train['target'] = train_target
train.head()

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,target
0,0.101101,-1.0,-0.009009,-1.0,-1.0,-1.0,-1.0,0.953954,-1.0,-1.000000,...,-1.000000,-1.0,0.983984,0.983984,-1.0,-1.000000,-1.0,-1.0,0.967968,1.0
1,-1.000000,-1.0,-1.000000,-1.0,-1.0,-1.0,-1.0,0.953954,-1.0,-1.000000,...,-0.049049,-1.0,0.983984,-1.000000,-1.0,0.983984,-1.0,-1.0,-1.000000,-1.0
2,-1.000000,-1.0,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.000000,...,-1.000000,-1.0,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.0,-1.000000,1.0
3,-1.000000,-1.0,0.485485,-1.0,-1.0,-1.0,-1.0,0.369369,-1.0,0.913914,...,-1.000000,-1.0,-1.000000,-1.000000,-1.0,0.349349,-1.0,-1.0,0.677678,1.0
4,-1.000000,-1.0,-1.000000,-1.0,-1.0,-1.0,-1.0,0.217217,-1.0,0.959960,...,-1.000000,-1.0,0.657658,-1.000000,-1.0,-1.000000,-1.0,-1.0,-1.000000,1.0

In [67]:
train.to_csv(filename + '.tsv', sep='\t', header=False)

In [42]:
test_X, test_target = load_svmlight_file('datasets/w8a.t')

In [48]:
test = pd.DataFrame(test_X.toarray())
test.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
test.to_csv('w8a_t.tsv', sep='\t', header=False)